<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<nav class="navbar">
  <div class="left">
    <img
      src="http://localhost:4000/rockbuster_logo.png"
      alt=""
      alt="film-icon.webp"
      width="100px"
      height="64px"
      style="padding-left: 20px"
    />
    <h1>ROCKBUSTER VIDEO</h1>
  </div>

  <div class="navFlex">
    <div class="username">
      Welcome:
      <br />
      <span class="material-symbols-outlined"> account_circle </span>
      <h3><%= user.name %></h3>
    </div>
    <div class="home">
      <a href="/">Home</a>
    </div>
    <div class="right">
      <a href="/auth/account">Account</a>
    </div>
    <div class="right">
      <a href="/auth/logout">Logout</a>
    </div>
  </div>
</nav>
