<!-- This is the 502 error page -->

<html lang="en">
  <%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="errTxt">
      <p><b>ERROR:</b> 502 Bad Gateway</p>
      <p class="errDescrip">Server got an invalid response.</p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
