<!-- This is the 503 error page -->

<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="errTxt">
    <p><b>ERROR:</b> 503 Service Unavailable</p>
    <p class="errDescrip">The server is not ready to handle the request.</p>
  </div>
</body>
<%- include('./partials/footer.ejs') %>

</html>